body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 200px;
    margin: 50px auto;
    position: absolute;
    left: 1600px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.friends-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.friend {
    margin-bottom: 5px;
}
.friend.online {
    color: green;
}
.friend.offline {
    color: red;
}
label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
button:hover {
    background-color: #0056b3;
}