body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #fff;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.banner-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 15px;
  position: relative;
}

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.dropdown-button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  display: block;
  transition: background-color 0.2s;
}

.banner-button:hover {
  background-color: #00a672;
  transform: scale(1.05);
}

.banner-button:hover .dropdown {
  display: block;
}

.dropdown-button:hover {
  background-color: #00a672;
}

.container {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
