{% extends "_base.html" %}

{% block content %}

<!-- Needs functionality -->
<h1>Welcome to Education <span class="font-bold text-emerald-500">Mania!</span></h1>
<div class="flex w-1/12">
    <div class="dropdown-container">
        <div class="p-5">
            <img class="shadow-md" id="google" src="../../static/src/assets/google.png" alt="Google Icon">
            <h2>Login with <span class="text-red-400 font-bold">Google</span></h2>
        </div>
    </div>
    <div class="dropdown-container">
        <div class="p-5">
            <img class="shadow-md" id="github" src="../../static/src/assets/github.png" alt="GitHub Icon">
            <h2>Login with <span class="font-bold">GitHub</span></h2>
        </div>
    </div>
    <div class="dropdown-container">
        <div class="p-5">
            <img class="shadow-md" id="Discord" src="../../static/src/assets/discord.png" alt="Discord Icon">
            <h2>Login with <span class="text-blue-400 font-bold">Discord</span></h2>
        </div>
    </div>
</div>

{% endblock content %}